/*
*  Universidad Nacional - Programación II 2024
*  Tarea Cooperativa
*  Stiward Araya & Justin Mendez 
*/

* {
    -mfx-main: rgb(81, 130, 155);
    -mfx-purple: rgb(81, 130, 155);
    -fx-beige: rgb(234, 223, 180);
    -fx-celeste-pastel:rgb(155, 176, 193);
    -fx-azul-pastel: rgb(81, 130, 155);
    -fx-naranja: rgb(246, 153, 92);
    -fx-magenta: rgb(255, 32, 78);
    -fx-fucsia: rgb(160, 21, 62);
    -fx-morado: rgb(93, 14, 65);
    -fx-azul: rgb(0, 34, 77);
    -fx-celeste-hielo: rgb(223, 245, 255);
}

.separator-orange{
    -fx-background-color: -fx-naranja;
}

.separator-blue{
    -fx-background-color: -fx-azul;
}

.mfx-text-field {
    -mfx-float-mode: BORDER;
    -fx-font-size: 14px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: TOP_LEFT;
    -fx-text-fill: black;
    -fx-prompt-text-fill: grey;
}

.mfx-button, .mfx-button:armed, .mfx-button:focused{
    -mfx-button-type: RAISED;
    -mfx-depth-level: LEVEL2;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: BASELINE_LEFT;
    -fx-label-padding: 3px;
    -fx-max-width: 225px;
    -fx-min-width: 190px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-background-color: -fx-celeste-pastel;
}

.mfx-button:hover{
    -fx-background-color: -fx-azul-pastel;
    -fx-text-fill: white;
}

.boton-salir, .boton-salir:armed, .boton-salir:focused{
    -fx-background-color: -fx-naranja;
    -fx-alignment: CENTER;
    -fx-max-width: 85px;
    -fx-min-width: 85px;
}

.boton-buscar, .boton-buscar:armed, .boton-buscar:focused{
    -fx-alignment: CENTER;
    -fx-max-width: 85px;
    -fx-min-width: 85px;
}

.contenedor-forms{
    -fx-background-color: white;
    -fx-background-radius: 4.0;
    -fx-padding: 25 15 15 15;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.contenedor-menus{
    -fx-background-color: -fx-beige;
    -fx-background-radius: 4.0;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.standard-root{
    -fx-background-color: -fx-azul-pastel;
    -fx-spacing: 5px;
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: -fx-naranja;
}

.standard-profesor-root{
    -fx-background-color: -fx-azul;
    -fx-border-color: -fx-magenta;
}

.contenedor-menus-profesor{
    -fx-background-color: -fx-celeste-hielo;
    -fx-background-radius: 4.0;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.boton-profesor, .boton-profesor:armed, .boton-profesor:focused{
    -fx-background-color: -fx-azul;
    -fx-text-fill: -fx-celeste-hielo;
}

.boton-profesor:hover {
    -fx-background-color: -fx-fucsia;
}

.acercade-link{
    -fx-text-fill: black;
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-opacity: .6;
}
.acercade-link:hover{
    -fx-text-fill: -fx-azul;
    -fx-cursor: hand;
    -fx-opacity: 1;
}

.base-img-usuario{
    -fx-background-image: url("../resources/userNotFound.jpg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.titulo{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.sub-titulo{
    -fx-font-size: 14px;
}

.login-imagen {
    -fx-background-image: url("../resources/loginImagen.jpg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.funcionario-imagen {
    -fx-background-image: url("../resources/NinnoFuncionario.jpg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.asociado-imagen {
    -fx-background-image: url("../resources/NinnaAsociada.jpg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.profesor-imagen {
    -fx-background-image: url("../resources/profesor.jpeg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.camara-Studio {
    -fx-background-image: url("../resources/StudioKidsBackground.jpg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.asociadoCuentas-fondo{
    -fx-background-image: url("../resources/asociadosCuentaBackGround.jpeg");
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.imagen{
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.imp-Carnet-fondo{
    -fx-background-image: url("../resources/fondoImprimirCarnet.jpg");
}

.funcionario-fondo{
    -fx-background-image: url("../resources/fondoFuncionario.jpg");
}

.manCope-titulo-coope {
    -fx-border-width: 2px;
    -fx-border-color: -fx-azul;
    -fx-border-style: solid;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}